# Strings

Strings are used in Python to record text information, such as names. Strings in Python are actually a *sequence*, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "hello' to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).

This idea of a sequence is an important one in Python and we will touch upon it later on in the future.

Here, we'll learn about the following:

    1.) Creating Strings
    2.) Printing Strings
    3.) String Indexing and Slicing
    4.) String Properties
    5.) String Methods

This is Ismail

In [3]:
'This is Ismail'

'This is Ismail'

In [4]:
"Hello"

'Hello'

In [5]:
'Hello'

'Hello'

In [6]:
a = 'Hello'

In [7]:
a

'Hello'

In [8]:
sam = 'This is Ismail'

In [9]:
sam

'This is Ismail'

In [10]:
type(sam)

str

In [11]:
type(a)

str

In [14]:
b = 'hello'

In [15]:
b

'hello'

In [13]:
a

'Hello'

In [16]:
a == b

False

In [17]:
'Usman' == 'usman'

False

In [18]:
'Usman' == 'Usman'

True

In [20]:
"I'm eating Eba"

"I'm eating Eba"

In [23]:
print("I'am eating Eba")

SyntaxError: invalid syntax (<ipython-input-23-987dfe607cfb>, line 1)

In [24]:
"I'am eating Eba'

SyntaxError: EOL while scanning string literal (<ipython-input-24-1ec6c91d6c9b>, line 1)

In [26]:
"Ismail"

'Ismail'

In [27]:
print("Ismail")

Ismail

## Creating a String
To create a string in Python you need to use either single quotes or double quotes. For example:

In [ ]:
# Single word
'hello'

In [ ]:
# Entire phrase 
'This is also a string'

In [ ]:
# We can also use double quote
"String built with double quotes"

In [ ]:
# Be careful with quotes!
' I'm using single quotes, but this will create an error'

The reason for the error above is because the single quote in <code>I'm</code> stopped the string. You can use combinations of double and single quotes to get the complete statement.

In [ ]:
"Now I'm ready to use the single quotes inside a string!"

Now let's learn about printing strings!

## Printing a String

Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your output is by using a print function.

In [28]:
# We can simply declare a string
'Hello World'

'Hello World'

In [29]:
# Note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

'Hello World 2'

In [30]:
print('Hello World 1')
print('Hello World 2')

Hello World 1
Hello World 2

In [33]:
print('Hello World 1 \n Hello World 2')

Hello World 1
 Hello World 2

We can use a print statement to print a string.

In [34]:
print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line')
print('\n')
print('See what I mean?')

Hello World 1
Hello World 2
Use
 to print a new line


See what I mean?

In [41]:
print("I don't want \nthis to be in one line")

I don't want
this to be in one line

In [42]:
sam

'This is Ismail'

In [43]:
print(sam)

This is Ismail

In [44]:
a

'Hello'

In [45]:
print(a)

Hello

In [46]:
"Hello"

'Hello'

In [47]:
len('Hello')

5

In [48]:
len(a)

5

In [ ]:
len()

In [ ]:
print()

In [51]:
b = "I don't want this to be in one line"

In [52]:
b

"I don't want this to be in one line"

In [53]:
len(b)

35

In [54]:
print(b)

I don't want this to be in one line

## String Basics

We can also use a function called len() to check the length of a string!

In [ ]:
len('Hello World')

Python's built-in len() function counts all of the characters in the string, including spaces and punctuation.

## String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that indexing starts at 0 for Python. Let's create a new object called <code>s</code> and then walk through a few examples of indexing.

In [55]:
# Assign s as a string
s = 'Hello World'

In [56]:
s

'Hello World'

In [57]:
len(s)

11

In [ ]:
#Check
s

In [ ]:
# Print the object
print(s)

Let's start indexing!

In [58]:
s

'Hello World'

In [59]:
# Show first element (in this case a letter)
s[0]

'H'

In [67]:
print(s[1])

e

In [61]:
s[2]

'l'

In [62]:
s[3]

'l'

In [65]:
print(s[4])

o

In [66]:
print(s[5])

In [68]:
s

'Hello World'

In [69]:
s[1]

'e'

In [71]:
s

'Hello World'

We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. For example:

In [70]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [73]:
s[5:]

6

In [74]:
s[-1]

'd'

In [76]:
s[-3]

'r'

In [77]:
s[2:]

'llo World'

In [78]:
s

'Hello World'

In [79]:
s[:2]

'He'

In [80]:
s[:3]

'Hel'

In [83]:
s[:6]

'Hello '

In [ ]:
# Note that there is no change to the original s
s

In [ ]:
# Grab everything UP TO the 3rd index
s[:3]

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [84]:
#Everything
s[:]

'Hello World'

We can also use negative indexing to go backwards.

In [85]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [86]:
s

'Hello World'

In [89]:
s[:-2]

'Hello Wor'

In [87]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [90]:
s[2:]

'llo World'

In [91]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World'

In [92]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloWrd'

In [93]:
s[::3]

'HlWl'

In [95]:
s

'Hello World'

In [94]:
# We can use this to print a string backwards
s[::-1]

'dlroW olleH'

## String Properties
It's important to note that strings have an important property known as *immutability*. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [96]:
s

'Hello World'

In [98]:
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [ ]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

Notice how the error tells us directly what we can't do, change the item assignment!

Something we *can* do is concatenate strings!

In [99]:
s

'Hello World'

In [105]:
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [100]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [101]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [106]:
s

'Hello World concatenate me!'

In [107]:
print(s)

Hello World concatenate me!

In [108]:
a

'Hello'

In [110]:
a + ' Ben!'

'Hello Ben!'

In [114]:
a = a + ' Ben!'

In [115]:
a

'Hello Ben! \nBen!'

In [113]:
print(a)

Hello Ben!

In [116]:
s

'Hello World concatenate me!'

In [118]:
s = s[:11]

In [119]:
s

'Hello World'

In [120]:
s[::-1]

'dlroW olleH'

In [121]:
s[::-3]

'dooe'

In [ ]:
s

We can use the multiplication symbol to create repetition!

In [124]:
a = '10'

In [125]:
type(a)

str

In [128]:
print(a*5)

1010101010

In [ ]:
letter = 'z'

In [ ]:
letter*10

## Basic Built-in String methods

Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

Where parameters are extra arguments we can pass into the method. Don't worry if the details don't make 100% sense right now. Later on we will be creating our own objects and functions!

Here are some examples of built-in methods in strings:

In [129]:
s

'Hello World'

In [130]:
s.upper()

'HELLO WORLD'

In [131]:
s

'Hello World'

In [132]:
s.lower()

'hello world'

In [133]:
s

'Hello World'

In [134]:
s.split('W')

['Hello ', 'orld']

In [ ]:
# Upper Case a string
s.upper()

In [ ]:
# Lower case
s.lower()

In [ ]:
# Split a string by blank space (this is the default)
s.split()

In [ ]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

There are many more methods than the ones covered here. Visit the Advanced String section to find out more!

## Next up: Lists!