
# BUAN 651-AB : Intro. to Data & Programming with Python
## Assignment 1  - Due Friday Sept 18, 2020 at 11:59 pm   ( 5 points in total)
## Instructor : Dr. Ismail Abdulrashid

## Question 1 and 2 are worth 0.5 pts each. Question 3,4,5 and 6 are worth 1 pts each. 


#### Note : Submit .ipynb (this) file to the canvas. Name your .ipynb file as â€œYourname_Assignment1.ipynb" before submitting.


## Question 1 (Data Types, Conversions, Operators and String Concatenation)

Create a variable and assign 123.0 (float number) to this variable.
Create another variable and assign 45 (string) to this second one.

Now, by using these two variables and using the appropriate conversions and operations, please print  "12345", which should be a string.
After printing the result, add "5" to the result to obtain "12350". 

Hint : Note that the data types that you are dealing with different. In this question, you need to use float, string, and integer data types. In addition, you will need to convert them to each other as you need.

Note : Use only one cell in for your operations.

In [7]:
my_float_number = 123.0
my_string = '45'
a= str(int(my_float_number)) + my_string
b=int(a)+5 
print(b)

12350


## Question 2 (Variable Assignment and Simple Math Operators)

* Assume that you are working for a Digital Marketing company as a part time student. Your hourly pay is $15.00. If you work after hours (after 5 pm or weekends), then your hourly rate is doubled.

* Assume that you worked 10 regular hours, and 5 after hours.
* Please calculate your total pay, by creating two variables for 1) the amount of regular hours, and 2)the amount of after hours.

Note: You do not need to assign variables for your hourly pays, as they do not change from week to week.
Note: Use mnly one cell in for your operations

In [8]:
a=10
b=5
your_pay = a*15 + b*(2*15)
print(your_pay)

300

## Question 3 (Variable Assignment and Simple Math Operators)

* Assume that you are working for a Digital Marketing company as a part time student. Your hourly pay is $15.00. If you work over 20 hours/week, then your hourly rate is doubled.

* Assume that you worked 25 hours in total.
* Please calculate your total pay, by creating only two variables (1) for the amount of total hours and 2) for the max limit of regular hours).

Note: You do not need to assign variables for your hourly pays, as they do not change from week to week.

Note: Use only one cell in for your operations.

In [14]:
total= 25
regular_limit = 20
your_pay= 15*regular_limit+(total-regular_limit)*15*2
print(your_pay)

450

## Question 4 (Strings)

* By using one print function (only), please print the following statement in the format that it is given (in four consecutive rows, without anything in between).
 
 
Welcome to Creighton

Welcome to 

Heider

Welcome to BIA 479

Note: Use only one cell in for your operations.

In [15]:
print('Welcome to Creighton \nWelcome to \nHeider \nWelcome to BIA 479')

Welcome to Creighton
Welcome to
Heider
Welcome to BIA 479

## Question 5 (String Operators and Concatenation)

* Create two variables, and assign them the following two strings.

1) "Welcome ALL", and 2) "HI EVERYBODY".


* Now, by using these two strings, create a new sentence that prints "WELCOME everybody".

Hint : You will do string slicing, concatenation and .lower and .upper functions in this question.

Note : Use minimum number of cells you can.

In [17]:
a= 'Welcome ALL'
b= 'HI EVERYBODY'
a[:7].upper()+ b[2:].lower()

'WELCOME everybody'


## Question 6 (String Immutability and Operators)

* Create a variable, and assign the following string to this variable.

"I wrote two articles"




* Now, replace the word "wrote" with "read", so the new variable (string) reads as "I read two articles" instead of the original one.


Hint : You will do two string slicings,and a new variable assignmnent,string concatenation

Note : Use minimum number of cells you can.

In [18]:
a='I wrote two articles'
b= 'read'
a[:2]+b+a[7:]

'I read two articles'