# Python First Course

This notebook will include the basic topics in order:

* (1) Data types in Python (general view)
* (2) Print Function
* (3) Comments in Python
* (4) Using python as a calculator, numbers in python (Integer, Float)
* (5)  Variables 
* (6) Strings

# (1) Data types in python

* Integers (Int) (Integer numbers such as 2,3,100)

* Floating point (float)(Decimal numbers, such as: 2.2, 3.5, 10.0) 

* Strings (str) (Ordered Sequence of characters, such as: “Creighton”, ‘Ali’, “#@#", ‘100’

* Lists (list) (Ordered Sequence of objects written with  close brackets)

* Dictionaries (dict)(Key to value pairs (does not have to be ordered) written with curly brackets, such as : {“key1”: “value1”, {“key2”: “value2”, etc..}

* Tuples (tup)(Immutable sequence objects written in an order in a parnthesis, such as : (1000, 100.2, “Creighton”))

* Sets (set) (Collection of unique objects (does not have to be ordered) written with curly brackets without semicolon, such as {“key1”: “value1”, {“Creighton“, “Omaha”}

* Booleans (bool) (Logical values such as: True and False)

# (2) Print Function

In [1]:
print('Hello Python')

Hello Python

In [2]:
print('Hello CU')

Hello CU

In [3]:
print(79.6)

79.6

In [4]:
print('79.6')

79.6

In [5]:
print("79.6")

79.6

In [6]:
print('79.6")

SyntaxError: EOL while scanning string literal (<ipython-input-6-392619c68039>, line 1)

# (3) Comments in Python

### Anything after a # is ignored by Python

* Why comment ?

    * Describe what is going to happen in a sequence of code so that other people and/or yourself can understand what the code is about.
    * Document who wrote the code or other ancillary information
    * Turn off a line of code - perhaps temporarily

In [7]:
# Creighton University

In [8]:
## Creighton University

In [9]:
1+2 # Creighton University

3

# (4) Using python as a calculator, Numbers in Python

### 4.1 Basic Arithmetic

In [10]:
# Addition
3+2

5

In [11]:
# Subtraction
3-2

1

In [12]:
# Multiplication
3*2

6

In [13]:
# Division
3/2

1.5

In [14]:
# Mode (Remainder)
3%2

1

In [15]:
# Powers
3**2

9

In [16]:
# Powers
9**0.5   # calculates the square root of 9

3.0












## 4.2 Order of Evaluation

### Highest precedence rule to lowest precedence rule:

#### 1. Parentheses >> 2. Exponentiation (raise to a power) >> 3. Multiplication & Division >> 4. Addition & Subtraction

In [17]:
# Order of Operations followed in Python
3 + 5 * 5 + 2

30

In [18]:
1+2*3-4/2**3

6.5

In [19]:
2+3*(5-2/4)/1.5

11.0




## 4.3 Types of Numbers 

* Integer
* Float

In [20]:
type(1)

int

In [21]:
type(1.2)

float

In [22]:
print (1 + 1.2)

2.2

In [23]:
type (1 + 1.2)

float

In [24]:
type(1.0)

float

In [25]:
print(10/2)

5.0

In [26]:
type(10/2)

float






### 4.3.1 Type Conversions

* Integer   <<    >>    float

In [27]:
float(1)

1.0

In [28]:
int(1.0)

1

In [29]:
print(float(1)+1)

2.0

In [30]:
type(float(1)+1)

float

# (5) Variables
- A variable is a named place in the memory where a programmer can store data and later retrieve the data using the variable “name”

- Must start with a letter or underscore

- Can consist of letters, numbers, and underscores

- Case sensitive

    #### Good:    spam    eggs   spam23    _speed
    #### Bad:     23spam     .sign  var.12
    #### Different:    spam   Spam   SPAM

###  Variable Assignment
- We assign a value to a variable using the assignment statement (=)
- An assignment statement consists of an expression on the right-hand side and a variable to store the result

In [31]:
x= 12.2

In [32]:
print(x)

12.2

In [33]:
y= 14

In [34]:
x=100

In [35]:
print(x)

100

In [36]:
spam = 2

In [37]:
eggs = 3

In [38]:
spam23 = 4

In [39]:
_speed = 5

In [40]:
23spam = 6

SyntaxError: invalid syntax (<ipython-input-40-37d06ef4f38c>, line 1)

In [41]:
.sign = 7

SyntaxError: invalid syntax (<ipython-input-41-8822e92f7531>, line 1)

In [42]:
var.12 = 8

SyntaxError: invalid syntax (<ipython-input-42-748ce3326fca>, line 1)

In [43]:
x=3

In [44]:
x= x+2

In [45]:
print(x)

5

In [46]:
x=4

In [47]:
x += 2

In [48]:
print(x)

6

In [49]:
x= x+x

In [50]:
print(x)

12

In [51]:
hours = 35.0

In [52]:
rate = 12.50

In [53]:
pay = hours * rate

In [54]:
pay

437.5

In [55]:
print(pay)

437.5

In [56]:
hours = 35.0
rate = 12.50 
pay = hours * rate
pay

437.5

In [57]:
hours = 35.0
rate = 12.50 
pay = hours * rate
print(pay)

437.5

In [58]:
x=0.6
x=100*x*(1-x)
print(x)

24.0

# (6) Strings
- A string is a sequence of characters
- A string literal uses quotes  'Hello' or "Hello"
- For strings, + means “concatenate”
- When a string contains numbers, it is still a string
- We can convert numbers in a string into a number using int()

In [59]:
'single quotes'

'single quotes'

In [60]:
"double quotes"

'double quotes'

In [61]:
# Be careful with quotes!
' I'm using single quotes, but this will create an error'

SyntaxError: invalid syntax (<ipython-input-61-da9a34b3dc31>, line 2)

In [62]:
'hello' + "python"

'hellopython'

In [63]:
'hello ' + "python"

'hello python'

In [64]:
'hello' + " python"

'hello python'

In [65]:
"Now I'm going to use a single quote within double quote, and it will work!"

"Now I'm going to use a single quote within double quote, and it will work!"

## 6.1  Printing a String

Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your output is by using a print function.

In [66]:
'Welcome to Creighton'

'Welcome to Creighton'

In [67]:
# we can't output multiple strings this way, we have to use print function if we like to output multiple strings
'Welcome to Creighton !'
'Welcome to Heider !'

'Welcome to Heider !'

We can use a print statement to print multiple strings.

In [68]:
print('Welcome to Creighton !')
print('Welcome to Heider !')
print('Welcome to \nCreighton ')

Welcome to Creighton !
Welcome to Heider !
Welcome to
Creighton

## 6.2 Numbers as String

In [69]:
my_string_number ='123'

In [70]:
print(my_string_number)

123

In [71]:
my_string_number + 1

TypeError: can only concatenate str (not "int") to str

In [72]:
int(my_string_number)+1

124

## Length Function

We can also use a function called len() to check the length of a string!

In [73]:
len('Hi all!')

7

Python's built-in len() function counts all of the characters in the string, including spaces and punctuation.

## 6.3 String Indexing and Slicing

In Python, we use brackets after an object to call its index. We should also note that indexing starts at 0 not 1. 

- We can also look at any continuous section of a string using a colon operator
- The second number is one beyond the end of the slice - “up to but not including”
- If the second number is beyond the end of the string, it stops at the end 
    - Try!

In [74]:
a = 'Hi all!'

In [75]:
print(a)

Hi all!

In [76]:
a[0]

'H'

In [77]:
a[1]

'i'

We can use also use ":" to *slice* by grabbing everything up to the designated point.

In [78]:
# Grab everything past the first term all the way to the length of s which is len(s)
a[1:]

'i all!'

In [79]:
# Grab everything UP TO the 3rd index, but not including the 3rd.
a[:3]

'Hi '

In [80]:
#Everything
a[:]

'Hi all!'

In [81]:
s= 'Monty Python'

In [82]:
print(s[0:4])

Mont

In [83]:
print(s[:7])

Monty P

In [84]:
print(s[6:])

Python

We can also use negative indexing to go backwards.

In [85]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'n'

In [86]:
# Grab everything but the last letter
s[:-1]

'Monty Pytho'

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [87]:
# Grab everything, but go in steps size of 1
s[::1]

'Monty Python'

In [88]:
# Grab everything, but go in step sizes of 2
s[::3]

'MtPh'

## 6.4 Lowercasing and Uppercasing

In [89]:
greet = "Hello All"
print(greet)
print(greet.lower())
print(greet.upper())
print('Hi Al'.upper())

Hello All
hello all
HELLO ALL
HI AL

## 6.5  String Immutability
It's important to note that strings have an important property known as *immutability*. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [90]:
greet = "Hello All"

Assume that we want to write "Yello All", instead of "Hello All

In [91]:
# Let's try to change the first letter to 'greet'
greet[0] = 'Y'

TypeError: 'str' object does not support item assignment

In [92]:
# Let us create a new variable called "greet_updated"
greet_updated = greet[1:]

In [93]:

print(greet_updated)

ello All

Now, let us create our final variable called "final_greet"

In [94]:
final_greet = 'Y'+ greet_updated

In [95]:
print(final_greet)

Yello All

In [96]:
greet = "    Hello All    "

In [97]:
greet.lstrip()

'Hello All    '

In [98]:
greet.rstrip()

'    Hello All'

In [99]:
greet.strip()

'Hello All'

THE END